env/
goldengate/local_settings.py
/bin
/lib
/man
/include
/.Python
/*.egg
/*.egg-info
*.pyc
/build
/dist
/debian/goldengate
/debian/files
/debian/*.log
/debian/*.debhelper
/debian/*.substvars
/debian/*stampdir*
